[{:db/ident       :user/id
  :db/valueType   :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity
  :db/doc         "The id of the user"}

 {:db/ident       :user/active
  :db/valueType   :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc         "Is user activated"}

 {:db/ident       :user/first-name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext    true
  :db/index       true
  :db/doc         "The name of the user"}

 {:db/ident       :user/last-name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext    true
  :db/index       true
  :db/doc         "The last name of the user"}

 {:db/ident       :user/group
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc         "The group of the user"}
 ]